<!DOCTYPE html>
<html ng-app="app">
<head lang="es">
    <meta charset="UTF-8">
    <title>22 ng-style</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <link rel="stylesheet" href="stye.css"/>
    
    <script src="app.js"></script>
</head>
<body ng-controller="defaultController">

    <input ng-model="clasesCss.rojo" type="checkbox">Aplicar estilo Rojo
        <br>
    <input ng-model="clasesCss.subrayado"  type="checkbox">Aplicar estilo Subrayado
        <br>
    <input ng-model="clasesCss.negrita"  type="checkbox">Aplicar estilo Negrita
        <hr>
    <div ng-class="clasesCss">Este es un texto con clases dinámicas</div>

</body>
</html>